body {
    min-height: 640px;
    background: #eee;
    color: #000;
    font-size: 12px;
    margin: 0
}

.card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15pt;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 15px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.black_card {
    color: #ffffff;
    background: #231f20 linear-gradient(#231f20, #231f20 75%, #333333);
}

.white_card {
    background: #ffffff;
    color: #231f20
}